<%- include ../../public/admin_header.html %>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            
            <%- include ../../public/admin_aside.html %>
          
        </div>
        <div class="col-sm-10">
          
            <div class="panel panel-default">              
			    <div class="panel-heading">
                  上传单文件
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/focus/doEdit?_csrf=<%=csrf%>" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" id="input"  value="<%=focus._id%>">
                            <ul>
                                <!-- 注意： 上传文件必须在所有其他的 fields 后面，否则在拿到文件流时可能还获取不到 fields -->
                                <li>  分 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;类:   
                                    <select name="type">
                                        <option value="1" <%if(focus.type ==1){%> selected <%}%> >网站</option>
                                        <option value="2" <%if(focus.type ==2){%> selected <%}%> >APP</option>
                                        <option value="3" <%if(focus.type ==3){%> selected <%}%> >小程序</option>
                                    </select>
                                </li>
                                <li>  名 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;称:   <input type="text" name="title" value="<%=focus.title%>" /></li>
                                <li>  路径跳转:   <input type="text" name="link" value="<%=focus.link%>"/></li>
                                
                                <li>  轮&nbsp;&nbsp;播&nbsp;&nbsp;图:  <input type="file" name="focus_img"/></li>
                                 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  <img class="pic" src="<%=focus.focus_img%>" alt="">
                                <li>  排&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;序:  &nbsp;  <input type="text" name="sort"  value="<%=focus.sort%>"/></li>
                                <li>  状&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;态:   
                                    <input type="radio" name="status" value="1"  id="" <%if(focus.status ==1){%> checked <%}%> >显示
                                    <input type="radio" name="status" value="0" id="" <%if(focus.status ==0){%> checked <%}%> >隐藏
                                </li>
                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>


                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

</body>
</html>